body{
	font-family: "Aller Rg";
	font-size: 14px;
	color: #333;	
}

header{
	background-color: hsla(0,1%,62%,0.37);
	padding: 10px 0;
}

#sec-slide{
	padding: 250px 0px;
	background-image: url(../img/fondoslide.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#sec-services h2{
	text-align: center;
	color:#459D7E;
	text-transform: uppercase;
}
#sec-services{
	padding: 40px 0px 5px 0px;
	text-align: justify;
}
#sec-services img{
	padding: 10px 0px;
}

#sec-outro{
	align-items: center;
	padding: 60px 0px 10px 0px;
}

#sec-linkmenu{
	text-align: center;
	padding: 15px 0px 25px 0px;
}
#sec-linkmenu p{
	text-transform: uppercase;
}

#sec-linkmenu a{
	font-size: 18px;
}
.btn-medilab:hover{
	background-color: white;
	color: #432525;
	border: solid 2px #432525; 
}
.btn-medilab{
	background-color: #432525;
	border-color: #432525;
}

footer{
 	background-color: #432525;
	color: #FDFCFC;
	text-align: left;
	padding: 30px 0px 15px 0px;
}

#sec-data{
	padding: 0px 0px 0px 60px;
}

#sec-data h3{
	text-align: center;
	font-size: 12px;
}